* {
  margin: 0;
  padding: 0;
}

html, body {
	height: 100%;
	width: 100%;
}

.position {
	margin: 30px;
}

.Pos {
	width: 100%;
	overflow: hidden;
	margin-bottom: 50px;
}

.Pos img {
	-moz-transition: all 2s ease-out;
	-o-transition: all 2s ease-out;
	-webkit-transition: all 2s ease-out;
}

.Pos img:hover {
	-webkit-transform: scale(1.1);
	-moz-transform: scale(1.1);
	-o-transform: scale(1.1);
}

#IlM h2 {
	color: black;
	margin-bottom: 30px;
	font-size: 40px;
}

.IM {
	box-sizing: border-box;
	width: 80%;
	text-align: left;
}

.IM h3 {
	margin-bottom: 20px;
	font-size: 25px;
}

.IM p {
	font-size: 20px;
}

.box1 {
	box-sizing: border-box;
	display: inline-block;
	width: 40%;
	margin: 20px;
}

.serif {
	font-style: inherit;
	font-family: cursive;
	text-align: left;
}

.footer {
	position: absolute;
	width: 100%;
	text-align: center;
	background: #2E2E2E;
	color: #F2F5A9;
}

.footer a:hover {
	color: white;
}

.foot {
	box-sizing: border-box;
	display: inline-block;
	margin: 20px;
	padding: 20px;
	font-size: 20px;
	text-align: left;
}

.foot a {
	text-decoration: none;
	font-size: 20px;
}

.FooT li {
	display: inline-block;
	font-size: 30px;
}

.FooT {
	display: inline-block;
	font-size: 30px;
}

.FooT a {
	text-decoration: none;
	margin: 10px 5px;
}

.parent-box {
	background: #E1F5A9;
	max-width: 100%; 
	margin: 0; 
	padding-top: 20px; 
	padding-bottom: 20px; 
}

.box { 	
	box-sizing: border-box;
	width: 80%;
	margin: 40px;
	padding: 20px 20px; 
	display: inline-block; 
	text-align: left;
}

.box img {
	width: 600px;
	height: 400px;
	margin: 0px 20px;
}

.box h1 {
	color: black;
	font-size: 20px;
}

.box p{
	font-family: cursive;
	font-size: 20px;
	margin-top: 20px;
}



table caption {
	font-size: 40px;
	font-family: Arial;
}

.tableObj table {
	 width: 80%;
	height: 40%;
	margin: 20px auto;
}
.tableObj table img {
	height: 160px;
	width: 226px;
}
.tableObj thead th {
  background: #88CCF1;
  color: #FFF;
  font-family: 'Lato', sans-serif;
  font-size: 18px;
  font-weight: 100;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.tableObj tr {
  background: #FFD86E;
  border-bottom: 1px solid #FFF;
  margin-bottom: 5px;
}

.tableObj th, td {
  font-family: 'Lato', sans-serif;
  font-weight: 100%;
  padding: 20px;
  text-align: left;
  width: 33.3333%;
}

.News {
	margin-top: 100px;
}

.header {
	margin-top: 150px;
	margin-bottom: 90px;
}

.Nachalo {
	box-sizing: border-box;
	width: 100%;
	background-image: url("https://i.pinimg.com/originals/2e/6a/2a/2e6a2aa9a12935712a64ce098b86c5e3.gif");
	background-size: 100%;
	padding: 20px;
	margin-bottom: 100px;
}

.Go p{
	padding: 10px 20px;
	margin-bottom: 20px;	
	font-family: cursive;
	color: white;
	text-transform: uppercase;
}

.Font{
	font-size: 30px;
	font-family: Mistral;
}

h1{
	font-family: Arial;
	color: white;
	text-transform: capitalize;
}
a{
	font-family: Georgia;
	color: rebeccapurple;
}
#ReadMore {
	font-family: cursive;
	color: yellow;
	
}
#IlonMask {
	text-align: center;
}

.caption{
	color: black;
	position: relative;
	top: 10px;
	background-color: white;
	font-family: Arial;
	font-size: 20px;
	opacity: 0.7;
	border-radius: 10px;
	padding: 10px;
}

.image:hover {
	-webkit-transform: scale(1.2); 
	-ms-transform: scale(1.2); 
	transform: scale(1.2);
}


.image{
	background-image: url("https://inhabitat.com/wp-content/blogs.dir/1/files/2015/08/Elon-Musk-Tesla-Uber-self-driving-889x628.jpg");
	background-size: cover;
	background-position: center;
	text-align: center;
	position: absolute;
	height: 500px;
	width: 400px;
	left: 70px;
	border-radius: 15px;
	display: inline-block;
	-webkit-transition: all 0.3s ease; 
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
}

.imageX{
	background-image: url("https://i.dailymail.co.uk/i/newpix/2018/06/26/14/4DA680F700000578-5887301-image-a-23_1530020619221.jpg");
	background-size: cover;
	background-position: center;
	text-align: center;
	height: 500px;
	width: 400px;
	position: relative;
	left: 996px;
	border-radius: 15px;
	display: inline-block;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
}

.imageX:hover {
	-webkit-transform: scale(1.2); 
	-ms-transform: scale(1.2); 
	transform: scale(1.2);
}

.welcome{
	box-sizing: border-box;
	width: 500px;
	height: 508px;
	position: absolute;
	left: 499px;
	padding: 1px 10px;
	color: white;
	border-radius: 15px;
	display: inline-block;
}

header {
	width: 150px;
	border: 2px solid #ccc;
	background-color: black;
	text-align: center;
	padding: 5px;
	position: fixed;
	bottom: 0%;
	left: 0%;
	font-family: cursive;
	font-size: 20px;
	border-radius: 5px;
	z-index: 3;
}

header a {
	color: #6495ed;
}

header a:hover {
	color: white;
}

#VK {
	color: #5082B9;
}

#Youtube {
	color: #E02A26;
}

#Twitter {
	color: #1DA1F3;
}

#Instagram {
	color: #B53491;
}

#Gmail {
	color: white;
}

.nav {
	position: fixed;
	right: 0%;
	top: 15%;
	z-index: 2;
	width: 15%;
	line-height: 1.25;
}

.nav a {
	display: block;
	font-size: 40px;
	text-decoration: none;
	color: black;
	margin: 10px;
}

.nav li {
	display: block;
}

.navbox {
	box-sizing: border-box;
	display: block;
}

nav {
	font-family: "Arial", sans-serif;
	font-weight: 900;
	font-size: 14px;
	line-height: 1.25;
	background-color: black;
	position: fixed;
	z-index: 2;
	top: 0%;
	left: 0%;
	width: 100%;
}

nav ul {
	list-style-type: none;
    margin: 0;
    padding: 0;
}

nav li {
	display: inline-block;
}
nav a:hover{
	color: white;
}
nav a {
	text-decoration: none;
	display: inline-block;
	color: #6495ed;
	padding: 30px 20px;
}
.Go {
	padding-top: 100px;
}

.Infinity {
	width: 900px;
}

.Infinity p{
	font-size: 20px;
	font-family: cursive;
	padding-bottom: 30px;
	text-align: left;
}

.Infinity h2{
	text-align: left;
}
em{
	color: orange;
}

#BH, #Inf, #ObjM {
	color: Black;
	
}

.BlackHole {
	width: 1100px;
}

.BlackHole p {
	font-size: 20px;
	font-family: Arial;
	text-align: left;
}

.BlackHole ul {
	font-family: cursive;
	text-align: left;
}

.IMAGE {
	overflow: hidden;
	width: 900px;
	height: 500px;
	margin-bottom: 30px;
}

.IMAGE img {
	-moz-transition: all 2s ease-out;
	-o-transition: all 2s ease-out;
	-webkit-transition: all 2s ease-out;
}
.IMAGE img:hover{
	-webkit-transform: scale(1.1);
	-moz-transform: scale(1.1);
	-o-transform: scale(1.1);
 }